// src/init/index.scss

@import "./theme.scss";
$font-path: '~carbon-components/src/globals/fonts';
@import "~carbon-components/scss/globals/scss/styles";

html {
  // font-size: calc(0.4em + 1vmin);
  height:100%;
}

body {
  background-color: #343838;
  color: #FFFFFF;
  overflow: hidden;
  height:100%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

// ::-webkit-scrollbar {
//   width: 12px;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background: rgba(92, 166, 245, 0.819608);
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
// }

// ::-webkit-scrollbar-track-piece {
//   height: 20px;
// }

